.navbar {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  text-decoration: none;
  color: #2A77AE;
  margin-bottom: 50px;
}

.navbar-brand{
  font-size: 4rem;
};



